<body>

  {{> header}}

    <!--Titre briefing-->
  <div class="w3-container">
    <div style="font-family: 'Bangers', serif;letter-spacing: 0.1em;font-size:4vw;color: rgb(200, 200, 200)">{{ titreMission }}</div>
  </div>


  <!--layout fluide + responsive-->
  <div class="w3-row">

    <!--colonne gauche-->
    <div class="w3-container w3-third w3-padding">
      
      <div class="w3-tooltip w3-margin-top">
        <img src="{{{loadScreenSrc}}}" class="w3-round w3-image w3-card-4" alt="Image illustrative du briefing">
        <div class="w3-panel w3-leftbar w3-text w3-animate-opacity">
          <i class="w3-small" style="font-style: italic;">{{ onLoadText }}</i>
        </div>
      </div>

      <div class="w3-card-4 w3-padding w3-margin-top w3-large gdc-color-light" onclick="showHide('infosMission')">
          Infos sur la mission&nbsp;<i class="fa fa-caret-down w3-right"></i>
        </div>
        <div id="infosMission" class="w3-hide w3-show w3-card-4 gdc-color-light">
          <ul class="w3-ul">
            <li class="w3-bar">
              <div class="w3-bar-item">
                <span>Carte&nbsp;:&nbsp;</span>
                <span>{{ missionMap }}</span>
              </div>
            </li>
            <li class="w3-bar">
              <div class="w3-bar-item">
                <span>Version&nbsp;:&nbsp;</span>
                <span>{{ missionVersion }}</span>
              </div>
            </li>            
            <li class="w3-bar">
              <div class="w3-bar-item">
                <span>Type de jeu&nbsp;:&nbsp;</span><span>{{ gameType }}</span>
              </div>
            </li>
            <li class="w3-bar">
              <div class="w3-bar-item">
                <span>Texte lobby&nbsp;:&nbsp;</span><span>{{ overviewText }}</span>
              </div>
            </li>
            <li class="w3-bar">
              <div class="w3-bar-item">
                <span>Auteur&nbsp;:&nbsp;</span>
                <span>{{ author }}</span>
              </div>
            </li>
            <li class="w3-bar">
              <div class="w3-bar-item">
                <span>Nombre de joueurs&nbsp;:</span><br>
                <span>Minimum : {{ minPlayers }}, maximum : {{ maxPlayers }}</span>
              </div>
            </li>
          </ul>
        </div>

    </div>

    <!--colonne droite-->
    <div class="w3-container w3-twothird w3-padding">

        {{#each missionBriefing as |item|}}
          <h4 class="w3-tag w3-xlarge w3-padding gdc-color-tonic" style="transform:rotate(-5deg)">{{item.[0]}}</h4>
          <p class="gdc-color-dark">{{{ item.[1] }}}</p>
        {{/each}}
      <!--
      <h4 class="w3-tag w3-xlarge w3-padding gdc-color-tonic" style="transform:rotate(-5deg)">{{ missionBriefing }}</h4>
      <p>{{ tabContent }}</p>
      -->

    </div>

  </div>

  {{> footer}}   
</body>